
@{
    ViewBag.Title = "INNOjector | MEDIBLESS Viet Nam";
}

<div class="confull my-container">
    <div class="r-n-g justify-content-center">
        <div class="c-5 c-m-5 c-l-5">
            <img class="logo_inno animated wow fadeInUp" src="~/Images/logo_inno.png">
            <img class="inno_img animated wow fadeInRight" src="~/Images/innojector.png">
        </div>
        <div class="c-7 c-m-7 c-l-7">
            <img class="inno_girl animated wow fadeInLeft" src="~/Images/inno_girl.png" />
        </div>
    </div>
</div>

<div class="bg-thrid inooject inooject-top">

    <div class="con mt-5 mb-5">
        <div class="r-n-g">
            <div class="c-m-12 c-l-6">
                <div class="mb-5">
                    <h4 class="text-center mt-5 mb-5 text-blue text-dark  mr-5 f-s-180 animated wow fadeInLeft">
                        Tại
                        sao chọn sản phẩm của
                        chúng tôi?
                    </h4>
                </div>
            </div>
            <div class="c-m-12 c-l-6">
                <div class="confull">
                    <div class="r">
                        <div class="c-s-12 c-m-6">
                            <div class="d-f flex-row mb-4 mr-2">
                                <div class="bg-link-3 box-icon box-rounded box-animation animated wow zoomIn">
                                    <i class=" fa fa-3x fa-bolt" aria-hidden="true"></i>
                                </div>
                                <div class="ml-3 d-f flex-column">
                                    <h3 class="text-dark animated fadeInUp wow">Điều trị rạn da</h3>
                                    <span class="mt-2 text-lighdark animated fadeInDown wow">
                                        Sử dụng công nghệ
                                        nano
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="c-s-12 c-m-6">
                            <div class="d-f flex-row mb-4 mr-2">
                                <div class="bg-link-3 box-icon box-rounded box-animation flex-column delay-03s animated wow  zoomIn">
                                    <i class="fa fa-3x fa-user-md" aria-hidden="true"></i>
                                </div>
                                <div class="ml-3 d-f flex-column">
                                    <h3 class="text-dark animated fadeInUp wow">Điều trị da sẹo</h3>
                                    <span class="mt-2 text-lighdark animated fadeInDown wow">
                                        Sử dụng công nghệ
                                        nano
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="c-s-12 c-m-6">
                            <div class="d-f flex-row mb-4 mr-2">
                                <div class="bg-link-3 box-icon box-rounded box-animation delay-03s animated wow  zoomIn">
                                    <i class="fa fa-3x fa-life-ring" aria-hidden="true"></i>
                                </div>
                                <div class="ml-3 d-f flex-column">
                                    <h3 class="text-dark animated fadeInUp wow">Trẻ hóa vùng nhăn</h3>
                                    <span class="mt-2 text-lighdark animated fadeInDown wow">
                                        Sử dụng công nghệ
                                        nano
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="c-s-12 c-m-6">
                            <div class="d-f flex-row mb-4 mr-2">
                                <div class="bg-link-3 box-icon box-rounded box-animation flex-column delay-03s animated wow  zoomIn">
                                    <i class=" fa fa-3x fa-capsules" aria-hidden="true"></i>
                                </div>
                                <div class="ml-3 d-f flex-column">
                                    <h3 class="text-dark animated fadeInUp wow">Trẻ hóa nâng cơ</h3>
                                    <span class="mt-2 text-lighdark animated fadeInDown wow">
                                        Sử dụng công nghệ
                                        nano
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="confull r">
    <div class="c-12 bgset04 animated wow fadeInRight">
        <img src="~/Images/bgset_04.png">
    </div>
</div>


<div class="bg-thrid inooject inooject-top">
    <div class="con">
        <div class="r-n-g justify-content-center">
            <div class="c-10 c-m-6 c-l-4">
                <div class="d-f flex-column box box-rounded pop-box m-3 bd-1" style="width: auto">
                    <i class="mt-4 mb-4 fa fa-5x fa-dna box-animation text-center text-blue delay-03s animated wow  zoomIn"></i>
                    <a class="bg-link-2 ml-5 mr-5">
                        <h3 class="text-center animated fadeInUp wow">Hiệu ứng kép</h3>
                    </a>
                    <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center animated fadeInDown wow">
                        Kết hợp tác động cơ học với áp lực khí xoáy và phương pháp tiêm tinh chất MESO
                        therapy
                    </span>
                </div>
            </div>

            <div class="c-10 c-m-6 c-l-4">
                <div class="d-f flex-column box box-rounded pop-box m-3 bd-1" style="width: auto">
                    <i class="mt-4 mb-4 fa fa-5x fa-cogs box-animation text-center text-blue delay-03s animated wow  zoomIn"></i>
                    <a class="bg-link-2 ml-5 mr-5">
                        <h3 class="text-center animated fadeInUp wow">Tốc độ nhanh</h3>
                    </a>
                    <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center animated fadeInDown wow">
                        Tốc độ tia bắn nhanh 50 shot/phút giúp đẩy tinh chất sau phân tán dưới da lên đến
                        8,9mm
                    </span>

                </div>
            </div>
            <div class="c-10 c-m-6 c-l-4 d-f">
                <div class="d-f flex-column box box-rounded pop-box m-3 bd-1 " style="width: auto">
                    <i class="mt-4 mb-4 fa fa-5x fa-asterisk first-order box-animation text-center text-blue delay-03s animated wow  zoomIn"></i>
                    <a class="bg-link-2 ml-5 mr-5">
                        <h3 class="text-center animated fadeInUp wow">Đa đầu kim</h3>
                    </a>
                    <span class="ml-4 mr-4 mt-3 mb-3 text-lighdark text-center animated fadeInDown wow">
                        Lựa chọn đa dạng cho trị liệu bằng đầu đa kim và đầu không kim
                    </span>
                </div>
            </div>
        </div>

    </div>



    <div class="confull mt-0">
        <div class="r-n-g ml-5 mr-5 p-m-0">
            <div class="c-m-12 c-l-5 o-0 o-l-1">
                <div class="d-f justify-content-center">
                    <div>
                        <img class="box-rounded justify-content-center img_badgirl animated wow fadeInRight"
                             src="~/Images/img_badgirl.png">
                    </div>
                </div>
                <h1 class="text-center_img animated wow fadeInRight delay-03s" data-wow-delay="1s">
                    Xu hướng
                    thẩm mĩ mới nhất 2018<br>Đánh thức vẻ đẹp tự nhiên từ bên
                    trong
                </h1>
            </div>
            <div class="c-m-12 c-l-7 flex-column o-1 o-l-0 pl-5">
                <div class="confull r d-f mt-5 mb-3">
                    <div class="c-s-12 c-m-4 c-l-4 box-image small_image2 animated wow fadeInLeft">
                        <a><img src="~/Images/phun_1.png"></a>
                    </div>
                    <p class="c-s-12 c-m-8 c-l-8 pl-3 text-black mt-3 mb-2 f-s-120 text-justify pr-0 f-w-4 animated wow fadeInLeft">
                        1. Công nghệ khí xoáy Vortex tạo ra năng lượng động lực khí nén (chuyển hợp chất, dưỡng
                        chất sâu vào dưới da) giúp tăng cường phục hồi làn da tổn thương
                    </p>
                </div>
                <div class="confull r d-f mb-3">
                    <div class="c-s-12 c-m-4 c-l-4 box-image small_image2 animated wow fadeInLeft"
                         data-wow-delay="0.5s">
                        <a><img src="~/Images/phun_2.png"></a>
                    </div>
                    <p class="c-s-12 c-m-8 c-l-8 pl-3 text-black mt-3 mb-2 f-s-120 text-justify pr-0 f-w-4 animated wow fadeInLeft"
                       data-wow-delay="0.5s">
                        2. Năng lượng khí nén áp suất cao cho phép đẩy các hợp chất vào sâu da và lan tỏa ra
                        xung
                        quanh giúp tái tạo collagen
                    </p>
                </div>
                <div class="confull r d-f mb-3">
                    <div class="c-s-12 c-m-4 c-l-4 box-image small_image2 animated wow fadeInLeft"
                         data-wow-delay="1s">
                        <a><img src="~/Images/phun_3.png"></a>
                    </div>
                    <p class="c-s-12 c-m-8 c-l-8 pl-3 text-black mt-3 mb-2 f-s-120 text-justify pr-0 f-w-4 animated wow fadeInLeft"
                       data-wow-delay="1s">
                        3. Việc kích thích cơ học từ công nghệ xoáy gây ra các vi tổn thương vào mô da, kích
                        thích
                        phản ứng làm lành tự nhiên của cơ thể
                    </p>
                </div>
                <div class="confull r d-f mb-5">
                    <div class="c-s-12 c-m-4 c-l-4 box-image small_image2 animated wow fadeInLeft"
                         data-wow-delay="1.5s">
                        <a><img src="~/Images/phun_4.png"></a>
                    </div>
                    <p class="c-s-12 c-m-8 c-l-8 pl-3 text-black mt-3 mb-2 f-s-120 text-justify pr-0 f-w-4 animated wow fadeInLeft"
                       data-wow-delay="1.5s">
                        4. Thông qua quá trình tự phục hồi tự nhiên, kích thích các nguyên bào sợi và collagen
                        tang
                        sinh. Toàn bộ quá trình làm cho da trở nên săn chắc, mịn màng hơn
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="con">
        <div class="c-s-12 c-m-12 c-l-12 text-center mt-5 text-blue text-dark  mr-5 mt-3 mb-0 f-s-180 animated wow fadeInUp">
            <h4 class="text-center pb-3">
                ĐIỀU TRỊ
            </h4>
            <img id="DTInno" src="~/Images/DTInno.png" class="pl-5 pr-5" style="width: 100%">
        </div>
    </div>
    <div class="con">
        <div class="c-s-12 c-m-12 c-l-12 text-center mt-5 text-blue text-dark  mr-5 mt-0 mb-3 f-s-180 animated wow fadeInUp">
            <h4 id="param_inno" class="pb-4">
                KẾT QUẢ THỰC TẾ
            </h4>
            <h6 class="text-center text-dark pb-3">NẾP NHĂN TRÁN<br />Nam trong độ tuổi 40 / Đầu không kim, điều trị lần 3 150µL</h6>
            <div class="r">
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_1.png">
                    <p id="InnoTruoc">Trước</p>
                </div>
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_2.png">
                    <p id="InnoTruoc">Sau</p>
                </div>
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_3.png">
                    <p id="InnoTruoc">Điều trị lần 3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="con">
        <div class="c-s-12 c-m-12 c-l-12 text-center mt-5 text-blue text-dark  mr-5 mt-0 mb-0 f-s-180 animated wow fadeInUp">
            <h6 class="text-center text-dark pb-3">NẾP NHĂN CỔ<br />Nam trong độ tuổi 40 / Đầu không kim, điều trị lần 3 150µL</h6>
            <div class="r">
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_4.png">
                    <p id="InnoTruoc">Trước</p>
                </div>
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_5.png">
                    <p id="InnoTruoc">Sau</p>
                </div>
                <div class="c-s-4 c-m-4 c-l-4">
                    <img id="inno_model" src="~/Images/NamInno_6.png">
                    <p id="InnoTruoc">Điều trị lần 3</p>
                </div>
            </div>
        </div>
    </div>


    <div class="con">
        <h4 class="text-center mt-5 text-blue text-dark  mr-5 mt-5 mb-3 f-s-180 animated wow fadeInUp">
            Phân
            biệt hai công nghệ của
            INNOjector
        </h4>
        <table id="table" class=" animated wow fadeInDown">
            <tr>
                <th>ĐẦU KHÔNG KIM</th>
                <th>ĐẦU ĐA KIM - XÂM LẤN TỐI THIỂU</th>
            </tr>
            <tr>
                <td>Tiêm áp lực chân không</td>
                <td>Tiêm tinh chất với đầu đa kim</td>
            </tr>
            <tr>
                <td>Kích thước lỗ: 100µm nhỏ nhất trên thị trường</td>
                <td>Bốn kim 31G ở 4 chân tuyến tính <br>Đường kính trong: 125µm </td>
            </tr>
            <tr>
                <td>Giảm thiểu đau, sẹo, bầm tím và chảy máu (Kích thước lỗ chân lông 80µm)</td>
                <td>Dung dịch độ nhớt cao (dung dịch làm đầy, etc.)<br>Công nghệ Vortex (Xâm nhập tốt hơn)</td>
            </tr>
            <tr>
                <td>
                    Dung dịch có độ nhớt thấp (PPC,DW,chiết xuất nhau thai, vitamin, độc tố, dung dịch HA độ
                    nhớt thấp, chất dưỡng trắng…)
                </td>
                <td>Kết hợp với đầu không kim (Xóa nhăn, Dưỡng ẩm..). Mức áp suất (1-5)</td>
            </tr>
            <tr>
                <td><img class="center" src="~/Images/img_daukhongkim.jpg"></td>
                <td><img class="center" src="~/Images/img_daudakim.png"></td>
            </tr>

        </table>
    </div>

    <div class="con">
        <h4 class="text-center mt-5 text-blue text-dark mt-5 mb-3 f-s-180 animated wow fadeInUp">
            Một số hình
            ảnh của INNOjector
        </h4>
        <div class="r imgMinhHoa animated wow fadeInRight">
            <div class="c-12 center">
                <div class="center">
                    <a href="~/Images/inno_MH1.jpg" target="_blank">
                        <img src="~/Images/inno_MH1.jpg" style="width: 32%">
                    </a>
                    <a href="~/Images/inno_MH2.jpg" target="_blank">
                        <img src="~/Images/inno_MH2.jpg" style="width: 32%">
                    </a>
                    <a href="~/Images/inno_MH3.png" target="_blank">
                        <img src="~/Images/inno_MH3.png" style="width: 32%">
                    </a>
                </div>
            </div>
            <div class="c-12">
                <a href="~/Images/inno_MH4.jpg" target="_blank">
                    <img src="~/Images/inno_MH4.jpg" style="width: 32%">
                </a>
                <a href="~/Images/inno_MH5.jpg" target="_blank">
                    <img src="~/Images/inno_MH5.jpg" style="width: 32%">
                </a>
                <a href="~/Images/inno_MH6.jpg" target="_blank">
                    <img src="~/Images/inno_MH6.jpg" style="width: 32%">
                </a>
            </div>
        </div>
    </div>

</div>


