
@{
    ViewBag.Title = "Lightoxs Details | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/lightoxs.css" rel="stylesheet" />

<div class="con-fluid">
    <div class="r">
        <div class="c-l-12 c-m-12 c-s-12">
            <div class="hinh">
                <img class="intro" src=" ~/Images/lightox/Lightoxs1.jpg">
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- end container-->
<div class="con">
    <div class="r">
        <div class="c-l-12 c-m-12 c-s-12 text-center">
            <div class="khung wow fadeInDown animated">
                <p>
                    Dược mỹ phẩm đầu tiên trên thế giới chứa thành phần là dẫn xuất Botulinum
                    peptide được chứng nhận đăng kí trong ICID
                    (Từ điển thành phần mỹ phẩm quốc tế)
                    Sản phẩm được tin dùng tại các bệnh viện thẩm mỹ & phòng khám chuyên khoa da
                    liễu.
                </p>
            </div>
        </div>
    </div>
</div> <!-- end container-->
<div class="con">
    <div class="r" id="rDetail">
        <div class="c-l-6 c-m-6 c-s-6">
            <img class="intro wow fadeInLeft animated" src="~/Images/lightox/productView.jpg">
        </div>
        <div class="c-l-6 c-m-6 c-s-6 pt-0">
            <ul class="listInfo wow fadeInRight animated">
                <li class="DongSP">
                    <span>Dòng sản phẩm:</span>
                    <span>Serum trẻ hóa da (Anti-Aging)</span>
                </li>
                <br>
                <li class="Hieu">
                    <span>Thương hiệu:</span>
                    <span>Medibless</span>
                </li>
                <br>
                <li class="XuatSu">
                    <span>Xuất xứ:</span>
                    <span>Hàn Quốc</span>
                </li>
                <br>
                <li class="Hsx">
                    <span>Hãng sản xuất:</span>
                    <span>INIST PHARM Co, Ltd</span>
                </li>
                <br>
                <li class="DungTich">
                    <span>Dung tích:</span>
                    <span>60 ml</span>
                </li>
                <hr>
                <li class="web">
                    <span>Trang web: </span>
                    <span>
                        <a href="http://www.medibless.co.kr/en/product/productList.php">www.medibless.co.kr/en/product/productList.php</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--end thanh phan-->

<div class="con">
    <!--Begin step-->
    <div class="r">
        <div class="c-l-2 c-m-2 c-s-2"></div>
        <div class="c-l-8 c-m-8 c-s-8 wow fadeInUp animated">
            <div class="text-center">
                <h3>Hướng dẫn sử dụng</h3>
            </div>
            <ul class="step">
                <!--step-->
                <div class="r">
                    <!--step 1-->
                        <div class="c-l-5 c-m-6 c-s-12">
                            <div class=""><img class="center-block" src="~/Images/lightox/step1.png" alt=""></div>
                        </div>
                        <div class="c-l-7 c-m-6 c-s-12">
                            <div class="stepPhai" style="width: auto">
                                <b>1. </b>Làm sạch da mặt, lấy một lượng
                                nhỏ
                                thoa lên vùng nhăn: mắt, trán,
                                dưới cánh mũi.
                            </div>
                        </div>
                </div>
                <div class="r">
                    <!--step 2-->
                        <div class="c-l-5 c-m-6 c-s-12">
                            <div class=""><img class="center-block" src="~/Images/lightox/step2.png" alt=""></div>
                        </div>
                        <div class="c-l-7 c-m-6 c-s-12">
                            <div class="stepPhai" style="width: auto">
                                <b>2. </b>Thoa đều nhẹ nhàng lớp dưỡng chất toàn bộ mặt, lưu ý
                                không chà xát.
                            </div>
                        </div>
                </div><!--end step 2-->
                <div class="r">
                    <!--step 3-->
                        <div class="c-l-5 c-m-6 c-s-12">
                            <div class=""><img class="center-block" src="~/Images/lightox/step3.png" alt=""></div>
                        </div>
                        <div class="c-l-7 c-m-6 c-s-12">
                            <div class="stepPhai" style="width: auto">
                                <b>3. </b>Chờ đến khi lớp bọt xuất hiện, đây là thời điểm thành
                                phần sản phẩm hoạt động tối đa.
                            </div>
                        </div>
                </div><!--end step 3-->
                <div class="r">
                    <!--step 4-->
                        <div class="c-l-5 c-m-6 c-s-12">
                            <div class=""><img class="center-block" src="~/Images/lightox/step4.png" alt=""></div>
                        </div>
                        <div class="c-l-7 c-m-6 c-s-12">
                            <div class="stepPhai" style="width: auto"><b>4. </b>Vỗ nhẹ để dưỡng chất thấm sâu vào da.</div>
                        </div>
                </div><!--end step 5-->
            </ul>
        </div>
        <div class="c-l-2 c-m-2 c-s-2"></div>
    </div>
</div>
<!--end Step-->
<br><br><br>
<div class="con">
    <!--Begin Effeet-->
    <div style="width: 75%;" class="r center-block">
        <div class="c-l-4 c-m-4 c-s-4 wow fadeInRight animated">
            <div class="r">
                <div class="effect1">
                    <img class="center-block" src="~/Images/lightox/round1.png" alt="">
                    <div class="textEffect gradientUp">Xóa nhăn</div>
                </div>
                <div class="effect2">
                    <img class="center-block" src="~/Images/lightox/round2.png" alt="">
                    <div class="textEffect gradientDown">Trắng da</div>
                </div>
            </div>
        </div>
        <div class="c-l-4 c-m-4 c-s-4 wow fadeInUp animated">
            <div class="r">
                <img style="width: 100%; height: auto;" class="center-block" src="~/Images/lightox/model.png" alt="">
            </div>
        </div>
        <div class="c-l-4 c-m-4 c-s-4 wow fadeInLeft animated">
            <div class="r">
                <div class="effect1">
                    <img class="center-block" src="~/Images/lightox/round3.png" alt="">
                    <div class="textEffect gradientUp">Nâng cơ và tăng tính năng đàn hồi da</div>
                </div>
                <div id="effectblack" class="effect2">
                    <img class="center-block" src="~/Images/lightox/round4.png" alt="">
                    <div class="textEffect gradientDown">Làm dịu da</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--End effect-->
<br><br><br>
<div class="con wow fadeInDown animated">
    <!--Begin Loai Da-->
    <div class="r">
        <!--begin r-->
        <!-- <div class="c-l-2 c-m-2 col-sx-2"></div>-->
        <div style="justify-content: space-between" class="c-l-10 c-m-8 col-sx-8 c-l-push-2 c-s-push-2 c-m-push-2">
            <div class="r">
                <!--thong tin da-->
                <div style="padding-right: 3%" class="c-s-12 c-m-6 c-l-6 ThongTin pull-left">
                    <h3 class="LoaiDa">Loại da sử dụng</h3>
                    <h4><b>Vùng nhăn trên mặt, cổ</b></h4>
                    <ul class="ListDa">
                        <li>Da khô dễ bị nếp nhăn</li>
                        <br>
                        <li>Da có dấu hiệu lão hóa, sau giảm tính đàn hồi</li>
                        <br>
                        <li>Da ngăm đen, xỉn màu</li>
                        <br>
                        <li>Da nhạy cảm, thô sần, da dầu</li>
                    </ul>
                </div>
                <div class="c-s-12 c-m-6 c-l-6"><img id="laohoa" style="width: auto" src="~/Images/lightox/LoaHoa.png" alt=""></div>
            </div>
        </div> <!-- end thong tin da-->
        <!-- <div class="c-l-2 c-m-2 col-sx-2"></div>-->
    </div>
    <!--end r-->
</div>
<!--End loai da-->
<hr>
<div class="con wow fadeInDown animated">
    <!--Begin chat luong san pham-->
    <div class="r">
        <div class="c-l-12 c-m-12 c-s-12">
            <div class="NoiDungSp">
                <h3 style="text-align: center" class="khung">Chất lượng sản phẩm</h3>
                <p class="ThongTin" style="text-align: center">
                    Ứng dụng thành phần dược mỹ phẩm được cấp
                    bằng sáng chế quốc tế & chứng nhận trên 8 quốc gia năm 2016
                </p>
                <p class="ThongTin" style="text-align: center">
                    Dược mỹ phẩm được kiểm nghiệm và chứng
                    nhận an toàn, hiệu quả thành công với 100 Bệnh viện thẩm mỹ & da liễu ở Gangnam
                    Hàn Quốc
                </p>
            </div>
            <img style="width: 100%" src="~/Images/lightox/mpa.jpg" alt="">
        </div>
    </div>
</div>
<!--End chat luong san pham-->
<hr>
<div id="DoiTuongbackground" class="con">
    <!--begin đối tượng sử dụng-->
    <div class="r">
        <!--begin r-->
        <div class="c-l-6 c-m-6 c-s-6 wow fadeInLeft animated">
            <img style="width:100%" src="~/Images/lightox/DoiTuong.jpg" alt="">
        </div>
        <div class="c-l-6 c-m-6 c-s-6 wow fadeInRight animated">
            <div class="DoiTuongdiv">
                <div class="target">Đối tượng sử dụng</div><br>
                <ul class="ChiTietSD">
                    <li>Khách hàng sau tiêm Botox</li>
                    <br>
                    <li>Da có dấu hiệu lão hóa, da giảm sự đàn hồi</li>
                    <br>
                    <li>Da xấu, xỉn màu</li>
                    <br>
                    <li>Người muốn nâng cơ mặt, thu nhỏ lỗ chân lông</li>
                    <br>
                    <li>Người có da khô, nhiều nếp nhăn</li>
                </ul>
            </div>
        </div>
    </div> <!-- end r-->
    <hr>
</div>
<!--End đối tượng sử dụng-->
<div class="con wow fadeInDown animated">
    <!--Begin cong nghe doc quyen-->
    <div class="r">
        <!-- begin r 1-->
        <div class="c-l-12 c-m-12 c-s-12 c-l-push-2 c-s-push-2 c-m-push-2">
            <div class="ContainCL">
                <h3 class="tieuDeCL">Công nghệ độc quyền</h3>
                <div class="noiDungCL r">
                    <div class="c-l-4 c-m-4 c-s-12">
                        <img class="center-block" style="width: 100%" src="~/Images/lightox/MTD.png" alt="mtd">
                    </div>
                    <div class="noiDungCLct c-l-8 c-m-8 c-s-12">
                        <ul style="list-style-type: circle;padding-left: 10%;">
                            <li>
                                Công nghệ dẫn xuất thẩm thấu MTD: an toàn hơn, thẩm thấu sâu hơn, các
                                hoạt chất nhanh chóng thẩm thấu sâu vào da phát huy tác dụng.
                            </li>
                            <li>
                                Dược mỹ phẩm đầu tiên trên thế giới chứa dẫn xuất Botulinum Toxin ứng
                                dụng trong mỹ phẩm chứa Botox.
                            </li>
                            <li>
                                Hoạt chất protein EGF thẩm thấu nhanh gấp 30 lần so với sản phẩm thông
                                thường (thúc đẩy da hấp thụ chất dinh dưỡng, giảm quá trình lão
                                hóa, tăng trưởng tế bào, giảm sắc tố melanin giúp giảm vết thâm).
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end r 1--><br>
    <h1 style="text-align: center">"&"</h1><br>
    <div class="r">
        <!--Begin r 2-->
        <div class="c-l-12 c-m-12 c-s-12 c-l-push-2 c-s-push-2 c-m-push-2 mb-5">
            <div class="ContainCL">
                <h3 class="tieuDeCL">Thành phần tạo nên sự khác biệt</h3>
                <div class="noiDungCL r">
                    <div class="c-l-4 c-m-4 c-s-12">
                        <div>
                            <img class="center-block" style="width: 100%" src="~/Images/lightox/botulinum3.png" alt="mtd">
                        </div>
                    </div>
                    <div class="noiDungCLct c-l-8 c-m-8 c-s-12">
                        <ul style="list-style-type: circle;padding-left: 10%;">
                            <li>
                                Thành phần Botulinum-peptide được chứng nhận đăng kí trong ICID (từ
                                điển thành phần mỹ phẩm thế giới).
                            </li>
                            <br>
                            <li>Sở hữu bằng sáng chế với công nghệ “Chuỗi nhẹ Botulinum”.</li>
                            <br>
                            <li>Công nghệ thẩm thấu tinh chất sâu vào da.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End r 2-->
</div>
<!--End cong nghe doc quyen-->
