
@{
    ViewBag.Title = "Lightoxs | MEDIBLESS Viet Nam";
}

<link type="text/css" href="~/Content/swiper.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/lightoxsOff.css">
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/swiper.min.js"></script>

<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="anhbia">
        <img style="width: 100%; position: relative" src="~/Images/lightox/LightoxsBackGround.png"
             alt="">
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-12">
            <div>
                <img class="anhPhu wow fadeInRight animated" src="~/Images/lightox/lightoxStraight.png"
                     alt="">
            </div>
        </div>
    </div>
</div>

<!--end anh bia-->
<div id="container-fluid">
    <div class="r">
        <div class="c-l-12 c-m-12 c-s-12">
            <div class="brandSection brandSection3">
                <h2 class="wow fadeInUp animated">
                    <strong>
                        Thân Light như tấm lụa đào, phất phơ giữa chợ
                        biết vào tay ai?
                    </strong>
                </h2>
                <div class="brandSection3_rollingWrap">
                    <div class="rollingList swiper-container">
                        <div class="swiper-wrapper">
                            <div class="unit swiper-slide">
                                <div class="BG">
                                    <div class="img"><img src="~/Images/lightox/background.gif" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ThanLightox">
                    <p class="pThanLightox pull-left wow fadeInUp animated">
                        Cô bạn đã dùng Botox, muốn kéo dài hiệu quả, Light - một trợ thủ đắc lực<br><br>
                        Cô em chưa dùng Botox bao giờ, kim tiêm là nỗi sợ, lại mong muốn làn da căng mướt,
                        về đội Light thì chuẩn không phải chỉnh <br><br>
                        Dưỡng da, ngăn chặn lão hóa tấn công, nâng cơ, se khít lỗ chân lông, có Light trong
                        đội tất cả không còn lo sợ các vấn đề về da do tuổi tác mang đến
                    </p>
                    <img class="imgThanLightox animated tada delay-2s" src="~/Images/lightox/lightoxHoa.png"
                         alt="">
                </div>
            </div>
            <!-- Phân cách ở đây-->
            <div class="brandSection brandSection4">

                <h2 class="wow slideInDown animated">LIGHT<strong>OXS</strong></h2>
                <div class="obj">
                    <span class="obj1"><img src="~/Images/lightox/brandSection4_obj1.png" alt=""></span>
                    <span class="obj2"><img src="~/Images/lightox/brandSection4_obj2.png" alt=""></span>
                    <span class="obj3"><img src="~/Images/lightox/brandSection4_obj3.png" alt=""></span>
                    <span class="obj4"><img src="~/Images/lightox/brandSection4_obj4.png" alt=""></span>
                    <span class="obj5"><img src="~/Images/lightox/brandSection4_obj5.png" alt=""></span>
                </div>
                <div class="img">
                    <ul>
                        <li class="img1"><img src="~/Images/lightox/lightoxsNghieng.png" alt=""></li>
                        <li class="img2"><img src="~/Images/lightox/LightoxBox.png" alt=""></li>
                        <li class="img3"><img src="~/Images/lightox/brandSection4_pdt3.png" alt=""></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li class="li1 wow fadeInLeft animated">
                            <p class="t"> ? HOW TO ?</p>
                            <h3>Light chia sẻ cho chị em cách dùng hiệu quả nhất nhé</h3>
                            <p class="desc">
                                Rất dễ dàng chị em sẽ sở hữu làn da căng mướt<br>
                                Đầu tiên, mọi người nhớ làm sạch da mặt nhé<br>
                                Xác định vị trí vết nhăn, chân chim<br>
                                Lấy một lượng nhỏ serum, XOA XOA XOA, rồi thì, VỖ VỖ VỖ<br>
                                Giờ thì chỉ việc thư giãn, tinh chất sẽ tự thẩm thấu sâu vào trong<br>

                            </p>
                        </li>
                        <li class="li2 wow fadeInRight animated">
                            <p class="t">"UNIQUE"</p>
                            <h3>Light có gì lạ so với phần còn lại của thế giới</h3>
                            <p class="desc">
                                Kết hợp giữa Chuỗi nhẹ Botulinum-peptide<br>
                                Công nghệ thẩm thấu tinh chất sâu vào da<br>
                                Sở hữu bằng sáng chế công nghệ và chứng nhận trên 8 quốc gia năm 2016
                            </p>
                        </li>
                        <li class="li3 wow fadeInLeft animated">
                            <p class="t">LET'S GOOO!!</p>
                            <h3>Hiệu quả khi có LIGHT về đội</h3>
                            <p class="desc">
                                Xóa nhăn, căng da trẻ hóa<br>
                                Nâng cơ, tăng tính đàn hồi <br>
                                Cải thiện da xỉn, xạm màu<br>
                                Thư giãn, làm dịu da: với 8 thành phần thiên nhiên
                            </p>
                            <a href="@Url.Action("LightoxsDetails", "SanPham")" class="btn btn-primary p-3 local_button" role="button">Xem tiếp nào</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
