
@{
    ViewBag.Title = "Purience Details | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="background_pu">
    <div class="container hihi">
        <div class="r readmore_purience1">
            <div class="c-s-12 c-m-12 c-l-12">
                <img class="img_readmore animated wow fadeInRight" data-wow delay="2s" src="~/Images/readmore_purience.png">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="r ct1">
        <div class="c-s-12 c-m-4 c-l-4 pl-5 pt-5 pb-5 animated wow fadeInLeft detail1" data-wow delay="2s">
            <p class="pure ">
                <h4 style="color:#F781D8">PURIENCE = PURE + SCIENCE</h4>
                <ul style="list-style-type:disc">
                    <li>
                        Dược mỹ phẩm đoạt giải Nobel y học cho <br>thành phần vượt
                        trội
                        xuất sắc nhất
                    </li>
                    <li class="pr-1"> Tái sinh làn da - Trắng sáng thuần khiết purience</li>
                </ul>
            </p><br>
            <p>
                <h4 style="color:#F781D8">AUTOPHAGY - HIỆU QUẢ KÉP</h4>
                <ul style="list-style-type:disc">
                    <li> Dưỡng ẩm da </li>
                    <li> Tăng hoạt động chống Oxy hóa</li>
                    <li> Tăng cường hàng rào bảo vệ</li>
                    <li> Tăng cường hoạt động tự thực bào</li>
                    <li> Hiệu ứng bảo vệ</li>
                </ul>
            </p>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pt-5 animated wow fadeInDown detail2" data-wow delay="2s">
            <p class="autophagy">
                <h4 style="color:#F781D8">
                    CÔNG NGHỆ SÁNG CHẾ ĐOẠT GIẢI NOBEL Y HỌC AUTOPHAGY =
                    AUTO +
                    PHAGY
                </h4> <br>
            <p class="text-justify">
                Autophagy - Cơ chế tự thực bào ứng dụng khoa học trong chăm sóc trị
                liệu da chuyên sâu Cơ chế tự thực bào (hay còn gọi là cơ chế phá hủy
                tự thân) giúp cải thiện, tái sinh tình trạng của da bằng cách thay
                đổi cấu trúc tế bào loại bỏ các tạp chất trong tế bào da, phân hủy
                các protein già cỗi và chuyển hóa chúng thành năng lượng tái sinh
                làn da từ bên trong một cách tự nhiên nhất
            </p>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 animated wow fadeInRight detail3" data-wow delay="2s">
            <img class="three_pu" src="~/Images/three_pu.png">
        </div>
    </div>
</div>
<div class="container">
    <div class="r ct2">
        <div class="c-s-12 c-m-4 c-l-4 animated wow fadeInLeft" data-wow delay="2s">
            <div class="r pl-5">
                <img class="img_pu_0" src="~/Images/img4.png">
            </div>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pt-5 animated wow fadeInUp detail3" data-wow delay="2s">
            <p>
                <h4 style="color:#F781D8">KEM DƯỠNG DA HIỆU QUẢ KÉP A.PHAGY CREAM</h4><br>
                <ul style="list-style-type:disc">
                    <li> Dung tích:30g</li>
                    <li>
                        Dòng sản phẩm: Hiệu quả kép tái tạo da và làm
                        trắng
                    </li>
                    <li> Thương hiệu:Purience</li>
                    <li> Thời gian sử dụng: 12 tháng sau khi mở</li>
                    <li> Nhà sản xuất:INIST PHARM Co, Ltd</li>
                    <li>
                        Thành phần: Hexacarboxymethyldipeptide-12, niacinamide,<br>
                        ceramide,7 thành phần chiết xuất tự nhiên
                    </li>
                </ul>
            </p>

        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-5 pt-5 animated wow fadeInRight detail4" data-wow delay="2s">
            <h4 style="color: #F781D8">CÔNG DỤNG</h4> <br>
            <ul style="list-style-type:disc">
                <li> Tái tạo da, cải thiện nếp nhăn</li>
                <li> Tăng cường tính chống oxy hóa: làm trắng và căng da</li>
                <li> Trắng sáng thuần khiết</li>
                <li> Tăng cường khả năng chống viêm: giúp trị thâm mụn</li>
                <li> Dưỡng ẩm chuyên sâu với beta-Glucan</li>
                <li> Tạo lớp bảo vệ da</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="r pt-5 ct3 ">
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInLeft detail5" data-wow delay="2s">

            <ul class="text_pu_3" style="list-style-type:disc">
                <h4 style="color:#F781D8">AQUATIDE 5000</h4>
                <br>
                <li>Hexacarbonxy methyldipeptid-12</li>
                <li>Giúp tăng cường cơ chế tự thực bào</li>
                <li>Kích hoạt enzym bảo vệ da</li>
                <li>Tăng cường độ ẩm cho da, giảm mất nước</li>
                <li>
                    Đặc biệt tác dụng mạnh trong cơ chế chống viêm, giúp điều trị các vấn đề về
                    thâm, mụn
                </li>
            </ul>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInDown" data-wow delay="2s">
            <img class="img_pu_1" src="~/Images/img_pu_1.png">
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInRight detail6" data-wow delay="2s">

            <ul class="text_pu_2" style="list-style-type:disc">
                <h4 style="color:#F781D8">BETA-GLUCAN</h4>
                <br>
                <li>Thành phần siêu cấp ẩm</li>
                <li>Tuyệt đối lành tính, an toàn</li>
                <li>Thẩm thấu sâu, dưỡng phục hồi cấu trúc da</li>
                <li>Dưỡng ẩm, tạo màng kéo dài</li>
                <li>Thúc đẩy chữa lành vết thương, bỏng rát qua cơ chế kích thích sản sinh collagen</li>
                <li>
                    Chống nhăn, lão hóa: cải thiện tình trạng da khô sần, tăng độ săn chắc, cải
                    thiện
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="r pt-5">
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInLeft detail7" data-wow delay="2s">
            <p class="text-justify">
                <ul class="text_pu_0" style="list-style-type: decimal">
                    <h4 style="color:#F781D8">HƯỚNG DẪN SỬ DỤNG</h4>
                    <li> Sử dụng sản phẩm ngày 2 lần (sáng, tối)</li>
                    <li> Làm sạch da mặt & dưỡng da cơ bản</li>
                    <li>
                        Lấy 1 lượng nhỏ kem như hạt ngọc trai chấm <br>lên vùng trán, hai má,
                        cằm
                    </li>
                    <li>
                        Thoa đều nhẹ nhàng theo chuyển động tròn <br>từ trong ra ngoài để
                        dưỡng
                        chất thẩm thấu<br> vào da
                    </li>
                </ul>
            </p>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 animated wow fadeInUp detail8" data-wow delay="2s">
            <p class="text-justify">

                <ul class="text_pu_1" style="list-style-type: disc">
                    <h4 style="color:#F781D8">KIỂM NGHIỆM LÂM SÀNG CHO THẤY</h4>
                    <li>
                        1-2 tuần sau khi sử dụng kem sẽ có tác dụng rõ rệt trong việc dưỡng
                        ẩm
                        và làm
                        trắng, trẻ hóa giảm nhăn
                    </li>
                    <li>
                        Từ 2-4 tuần có kết quả rõ rệt trong việc làm dịu các vấn đề da
                        mụn
                    </li>
                </ul>
            </p>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 animated wow fadeInRight" data-wow delay="2s">
            <img class="img_pu_3" src="~/Images/img_pu_3.png">
        </div>
    </div>
</div>
<div class="container">
    <div class="r pt-5">
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInLeft" data-wow delay="2s">
            <img class="img_pu_5" src="~/Images/img_pu_5.png">
        </div>
        <div class=" c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInDown detail9" data-wow delay="2s">
            <p class="text-justify abc">

                <ul class="img_pu_51" style="list-style-type: disc">
                    <h4 style="color:#F781D8">MẶT NẠ DƯỠNG DA HIỆU QUẢ KÉP A.PHAGY MASK</h4>
                    <li>Dung tích: 25g x 5 miếng</li>
                    <li>Thời gian sử dụng: được đánh dấu riêng</li>
                </ul> <br>
                <ul class="img_pu_52" style="list-style-type: disc">
                    <h4 style="color:#F781D8">MẶT NẠ DƯỠNG DA ĐỘC ĐÁO KHÁC BIỆT</h4>
                    <br>
                    <li> Trắng sáng</li>
                    <li> Căng mịn, se lỗ chân lông</li>
                    <li> Trị thâm, mụn (hiểu quả 65%)</li>
                    <li> Căng da, trẻ hóa, xóa nhăn</li>
                    <li> Dưỡng ẩm chuyên sâu</li>
                </ul>
            </p>
        </div>
        <div class="c-s-12 c-m-4 c-l-4 pl-5 animated wow fadeInRight" data-wow delay="2s">
            <img class="img_pu_6" src="~/Images/img_pu_6.png">
        </div>

    </div>
</div>
