
@{
    ViewBag.Title = "Purience | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="chitiet">
    <div class="container">
        <div class="r nen">
            <div class="c-s-12 c-m-12 c-l-12  ">
                <a> <img class="hinh123" src="~/Images/product_01.png" /> </a>
                <div class="text-xl-right text-justify bottom-right3">BÁNH BÈO THÌ NHÀO VÔ</div>
            </div>
        </div>
    </div>
</div>
<div class="noidungct">
    <div class="container">
        <div class="r pb-2 pt-5">
            <div class="c-s-12 c-m-6 c-l-6 o-1 o-l-1">
                <div class="noidung1 animated wow rollln" data-wow delay="4s">
                    <p>
                        <h3>PU CÓ GÌ HOT</h3>
                        <ul style="list-style-type:disc">
                            <i class="fas fa-bolt"> Tự thực bào - Nobel y học 2016</i>
                            <br>
                            <i class="fas fa-bolt"> Beta Glucan siêu dưỡng ẩm</i>
                            <br>
                            <i class="fas fa-bolt"> Tái tạo, làm trắng với Aquatide 5000</i>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="c-s-12 c-m-6 c-l-6 o-0 o-l-1">
                <img class="pu_img_4 animated wow fadeInDown" data-wow delay="1s" src="~/Images/img_pu_6.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="r pb-5">
            <div class="c-s-12 c-m-6 c-l-6">
                <img class="pu_img_2  animated wow fadeInDown" data-wow delay="1s" src="~/Images/inno_girl.png">
            </div>
            <div class="c-s-12 c-m-6 c-l-6">
                <div class="noidung2 animated wow jackInTheBox" data-wow delay="4s">
                    <p>
                        <h4>MẶT BÈO NHÈO TRÉT VÀO BAY CÁI VÈO (VÈO CÁI GÌ ???) </h4>
                        <ul style="list-style-type:disc">
                            <i class="fas fa-caret-right"> Tái tạo da, cải thiện nếp nhăn</i>
                            <br>
                            <i class="fas fa-caret-right"> Chống viêm, chống oxi hóa</i>
                            <br>
                            <i class="fas fa-caret-right"> Trị thâm mụn, vấn đề về nám</i>
                            <br>
                            <i class="fas fa-caret-right"> Dưỡng ẩm, tăng cường bảo vệ da</i>
                            <br>
                            <i class="fas fa-caret-right">
                                Da bật tông, trắng sáng bất ngờ, căng tràn sức
                                sống
                            </i>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="r">
            <div class="c-s-12 c-m-6 c-l-6 o-1 o-l-1">
                <div class="noidung3 animated wow fadeInUp" data-wow delay="1s">
                    <p>
                        <h4>PU SẼ VỀ VỚI BIỆT ĐỘI NÀO???</h4>
                        <ul style="list-style-type:disc">
                            <i class="fab fa-ethereum"> Da xỉn, sạm màu</i>
                            <br>
                            <i class="fab fa-ethereum"> Da yếu cần phục hồi</i>
                            <br>
                            <i class="fab fa-ethereum"> Da lão hóa, suy giảm đàn hồi</i>
                            <br>
                            <i class="fab fa-ethereum"> Da có vấn đề về thâm, mụn</i>
                            <br>
                            <i class="fab fa-ethereum"> Giảm nhăn, làm trắng</i>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="c-s-12 c-m-6 c-l-6 o-0 o-l-1">
                <img class="pu_img_3 animated wow fadeInDown" data-wow delay="1s" src="~/Images/readmore_purience1.png">
            </div>
        </div>
    </div>
    <div class="btn-ct4 pt-4">
        <a class="btn animated wow fadeInLeft btn-second5" data-wow-delay="1s" href="@Url.Action("PurienceDetails", "SanPham")">
            Xem
            chi tiết
        </a>
    </div>
</div>