
@{
    ViewBag.Title = "Vital | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="wrap" id="brand">
    <div class="container r" id="context_vital">
        <div class="c-s-12 c-m-12 c-l-12">
            <img class="hinhbia animated bounceInDown delay-0.5s" src="~/Images/vital_banner.jpg" alt>
        </div>
        <div class="c-s-12 c-m-12 c-l-12">
            <div class="con">
                <div class="r">
                    <div class="c-s-8 c-m-8 c-l-8">
                        <div class="vetmot animated bounceInLeft delay-0.8s">
                            <p>
                                <div class="param"><b>VITAL, tớ là ai? </b><br><br></div>
                                Siêu cấp ẩm lên 72h<br>Làm dịu cân bằng độ
                                ẩm<br>Tăng cường chức năng da<br>Duy trì độ căng bóng, mịn màng
                            </p>
                        </div>
                    </div>
                    <div class="c-s-4 c-m-4 c-l-4">
                        <img class="vitalmodel animated bounceInRight delay-1s" src="~/Images/vitalmodel.png" alt>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-s-12 c-m-12 c-l-12" id="vet2">
            <div class="con">
                <div class="r">
                    <div class="c-s-4 c-m-4 c-l-4" id="Chai">
                        <img class="vitalbarrier animated bounceInLeft delay-1.5s" id="Chai"
                             src="~/Images/vital1.jpg" alt="">
                    </div>
                    <div class="c-s-8 c-m-8 c-l-8" id="VetGiua">
                        <div class="vethai animated bounceInLeft delay-1s">
                            <p>
                                THẬT KỲ DIỆU<br>SAO TỚ LÀM ĐƯỢC ĐIỀU NÀY NHỜ...<br>🌻LCB(Liquid Crytal
                                Barrier):tên đọc
                                không hiểu cái gì luôn à, tớ sẽ tạo một màng lipid như màng da của các
                                cậu vậy đó.<br>🌻Beta Glucan là cái gì nghe lạ quá zậy:<br>Thiệt ra đó là
                                thành phần
                                siêu cấp ẩm<br>
                                <div>
                                    🌻Centella asiatica, Rosmarinus
                                    officinalis ...nghe
                                    sao lạ quá vậy???<br>À,
                                    đấy là cách gọi khác của Rau má, cam thảo, hương thảo, ...<br>các chiết
                                    xuất thảo dược
                                    tạo nên công dụng vượt bậc.
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="c-s-12 c-m-12 c-l-12" id="vet3">
                <div class="con">
                    <div class="r">
                        <div class="c-s-8 c-m-8 c-l-8">
                            <div class="vetba animated bounceInLeft delay-2s">
                                <p>
                                    Vital dùng được trên da nhạy cảm, da khô, thô sần, và cả da dầu luôn đó<br>
                                    <div class="param1">Ai sẽ là người cùng tớ bầu bạn mỗi ngày<br></div>
                                    <div class="param2">
                                        - Phụ nữ hay nam giới đều được<br>
                                        - Sau trị liệu da bị bỏng rát nhẹ <br>
                                        - Cần cấp ẩm khi cơ thể không đáp ứng đủ<br>
                                        - Muốn dưỡng ẩm để bảo vệ da <br><br>
                                    </div>
                                    <div class="param3">
                                        Hạ về oi bức, hay Đông qua giá lạnh<br>
                                        Vital ngay cạnh, có chi lắng lo <b>^^</b>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="c-s-4 c-m-4 c-l-4">
                            <img class="vital2 animated bounceInRight delay-2.3s" src="~/Images/vital2.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="c-s-12 c-m-12 c-l-12">
                <button class="button_readmore" id="readmore">
                    @Html.ActionLink("Xem chi tiết", "VitalDetails", "SanPham", null, htmlAttributes: new { @class = "xemthem" })
                </button>
            </div>
        </div>
    </div>
</div>

