@model Lightoxs.Model.BaiViet

@{
    ViewBag.Title = "Ấn Phẩm Khoa Học Details | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/certification/Viet.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="~/Scripts/certification/AnPham.js"></script>
<script>
    $(function () {
        console.log('da hover');
        $('._1khoi').hover(function () {
            $('.txt_cer').css('color', 'red');
        }, function () {
            // on mouseout, reset the background colour
            $('.txt_cer').css('color', 'black');
        });
    });
</script>
<div class="con pt-3">
    <div class="r">
        <div class="c-s-2 c-m-2 c-l-2"></div>
        <div class="c-s-8 c-m-8 c-l-8 pb-1">
            <div class="title">
                <h4>AESTHETIC PUBLICATION</h4>
                <h2>@Model.TenBV</h2>
                <hr align="center" width="6%" size="5px" color="lightgray">
                <h4 id="time" style="color: black">POSTED ON @String.Format("{0:D}", Model.NgayDang) BY @Model.NhanVien.HoTen<h4>
</div>
            @Html.Raw(ViewBag.NoiDung)
        </div>
        <div class="c-s-2 c-m-2 c-l-2"></div>
    </div>
</div>
