@model List<Lightoxs.Model.BaiViet>
@{
    ViewBag.Title = "Ấn Phẩm Khoa Học | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/AnPham.css">
<script type="text/javascript" src="~/Scripts/AnPham.js"></script>

<div class="con pt-5">
    <div class="container section-title-container">
        <h3 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main">
                BÁO CÁO KHOA HỌC TRÊN THẾ GIỚI VỀ CÔNG NGHỆ
            </span>
            <b></b>
        </h3>
    </div>
</div>
<div class="con pt-5">
    <div class="r pb-5">
        @foreach (var bv in Model)
        {
            <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 pb-5 d-f">
                <!-- begin 1 khoi-->
                <div class="_1khoi">
                    <div class="boxShadow">
                        <a href="@Url.Action("AnPhamKhoaHoc_Details", "TinTuc", new { @baiVietID = bv.MaBV})"><img class="img_cer" src="~/Images/certification/@bv.MoTa"></a>
                    </div>
                    <div class="noiDung">
                        <br>
                        <h4 class="txt_cer">@bv.TenBV</h4><br>
                        <a href="@Url.Action("AnPhamKhoaHoc_Details", "TinTuc", new { @baiVietID = bv.MaBV})">
                            <p>Xem chi tiết [..]</p><br>
                        </a>
                    </div>
                    <div class="badge absolute top post-date badge-outline">
                        <div class="badge-inner">
                            <span class="post-date-month is-xsmall">@String.Format("{0:M}", bv.NgayDienRa)</span>
                        </div>
                    </div>
                </div>
            </div> <!-- end 1 khoi-->
        }
    </div>
</div>

