@model List<Lightoxs.Model.BaiViet>

@{
    ViewBag.Title = "Câu hỏi thường gặp | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/faqs/Viet.css" rel="stylesheet" />

<div class="con pt-5">
    <div class="r">
        <div class="c-s-12 c-m-12 c-l-12">
            <img class="banner_faqs" src="~/Images/faqs.png">
            <div class="title_faqs">Ý kiến chuyên môn và câu hỏi thường gặp</div>
        </div>
        <div class="c-s-12 c-m-12 c-l-12">
            <div class="r">
                <div class="c-s-1 c-m-1 c-l-1"></div>
                <div class="c-s-9 c-m-9 c-l-9" id="body_faqs">

                    @foreach (var baiviet in Model)
                    {
                        <p id="Ques"><a class="faq"><b>Q.</b> </a>@baiviet.TenBV</p>
                        <p id="Ans">
                            <a class="faq1"><b>A.</b> </a>@baiviet.NoiDung
                        </p>
                        <br>
                        <hr>
                    }
                    <br>
                </div>
                <div class="c-s-1 c-m-1 c-l-1"></div>
            </div>
        </div>
    </div>
</div>
