@model Lightoxs.Model.BaiViet

@{
    ViewBag.Title = "Chăm Sóc Sắc Đẹp Details | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/chamsocsacdep/An.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/bao_post1.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/bao_post2.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/bao_post3.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/bao_post4.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/thien.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/thuy.css" rel="stylesheet" />
<link href="~/Content/chamsocsacdep/Viet.css" rel="stylesheet" />

<style>
    .background-gray {
        margin-top: 30px;
    }
    body, .stickyBody {
        background-color: #F0F1F5;
    }
</style>

<div id="fb-root"></div>
<script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>

<div class="con background-gray">
    <div class="r pr-5 pl-5 pt-3 pb-3 mb-3">
        <div class="c-12">
            <h1 class="text-blue">Nỗi khổ của các nàng có làn da cằn cỗi như sa mạc Sahara</h1>
            <ul class="d-f ml-3 mb-5">
                <li class=""><i class="fa fa-calendar"></i>@String.Format("{0:ddd, MMM d, yyyy}", Model.NgayDang)</li>
                <li class="">
                    <i class="fa fa-user-o"></i>
                    <a href="https://www.facebook.com/ducanh.tra.3" target="blank">@Model.NhanVien.HoTen</a>
                </li>
            </ul>

            @Html.Raw(ViewBag.NoiDung)

        </div>
    </div>
</div>

