@model List<Lightoxs.Model.BaiViet>
@{
    ViewBag.Title = "Events & Workshop | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Events&Workshop.css">


<div class="con pt-5">
    <div class="container section-title-container">
        <h3 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main" style="color: #25cbd3">
                EVENTS &amp;
                WORKSHOP
            </span>
            <b></b>
        </h3>
    </div>
</div>
<div class="con pt-5">
    <div class="r pb-5">
        @foreach (var bv in Model)
        {
            <div class="c-s-12 c-m-4 c-l-4 pl-3 pr-3 animated wow fadeInLeft pb-4" data-wow-delay="1s">
                <div>
                    <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @baiVietID = bv.MaBV })"><img class="img_evt_1 " src="~/Images/eventsworkshop/@bv.MoTa"></a>
                </div>
                <div>
                    <p class="txt_evt"> EVENTS & WORKSHOP</p>
                    <h4 class="txt_evt_2">@bv.TenBV</h4>
                    <a href="@Url.Action("EventsWorkshop_Details", "TinTuc",  new { @baiVietID = bv.MaBV })"></a>
                </div>
                <div class="badge absolute top post-date badge-outline">
                    <div class="badge-inner">
                        <span class="post-date-day">@String.Format("{0:M}", bv.NgayDienRa)</span><br>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="con pb-5">
    <div class="boder3">

    </div>
</div>

