.tintuc1 {
    background-color: #F0F1F5;
}
.post_1 {
    padding-bottom: 3%;
    color: blue;
    border-bottom: groove;
}
.abc {
        background-color: white;
}
.evt4_1 {
    border-bottom: groove;
}
.img_evt_an_1{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.img_evt_an_2{
    width: 100%;
    height: auto;
}
.img_evt_an_3{
    width: 100%;
    height: auto;
}
.txt_evt_an_1 {
    text-align: center;
}