.stickyBody{
    background-color: #ffffff;
    padding: 2%;
}
img#hinh1{
    padding: 3% 2%;
    height: auto;
}
img#hinh2{
    padding: 3% 2%;
    height: auto;
}
div#bai1{
    background-color: #f0f1f5;

}
img#hinh3{
    padding: 3% 2%;
    height: auto;
}
img#hinh4{
    padding: 3% 2%;
    height: auto;
}

h1, h2,h3,ul,li{
    padding: 2.5px;

}
h1 {
    margin: 2% 5% 0% 0%;
}
p {
    padding: 4px 0px 4px 0px;
    line-height: 2.5;
}
