h1 {
    margin: 2% 5% 0% 0%;
}

p {
    padding: 4px 0px 4px 0px;
    line-height: 2.5;
}

.background-gray {
    background-color: #ffffff;
}

.img_news {
    width: 100%;
    height: auto;
    padding: 2px;
}