/* title and container */
.container {
    padding-left: 0;
    padding-right: 0;
}
@font-face {
    font-family: myriad;
    src: url(../myriad-hebrew-4.otf)
}
.section-title-main
{
    color: rebeccapurple;
    font-family: myriad-hebrew, sans-serif;
    
}
.section-title{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section-title b {
    display: block;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-center span, .section-title-bold-center span{
    text-align: center;
}
.section-title-center span {
    margin: 0 15px;
}
/*Begin Badge*/
/* CSS KHUNG CHỮ */
.badge.post-date {
    top: 7%;
}
.badge.top {
    left: 0;
}
.absolute {
    position: absolute !important;
}
.badge-outline, .badge-circle {
    margin-left: 1%;
}
.badge {
    display: table;
    z-index: 20;
    pointer-events: none;
    height: 2.8em;
    width: 2.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.badge:hover{
    background-color: black;
}
.badge-outline .badge-inner {
    background-color: #fff;
    border: 2px solid currentColor;
}
.badge-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #446084;
    line-height: .85;
    color: #fff;
    font-weight: bolder;
    padding: 2px;
    white-space: nowrap;
    transition: background-color .3s, color .3s, border .3s;
}
.badge-inner {
    font-family: 'Times New Roman', 'Arial', 'Helvetica', 'Courier New', 'Verdana', 'Georgia', 'Tahoma', 'Calibri', 'Garamond', 'Bookman'; 
    color: black;
}
/*End Badges */
.img_cer
{
    width: 100%;
    height: 450px;
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
    object-position: 50% 50%;
    object-fit: cover;

}
._1khoi {
    border: 1pt solid #b2abab;

}
.noiDung
{
    text-align: center;
}
.img_cer:hover
{
    opacity: 0.5;
    filter: grayscale(100%);
}
._1khoi
{
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background: white;
    transition: transform 0.2s;
}
._1khoi:hover 
{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    transform: scale(1.05); 
}















