/* .event {
    border-top: groove;
    border-bottom: groove;
    position: relative;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.event1 {

}
.test {
    margin-top: -10px;
    margin-bottom: 5px;
} */
.boder1{
    border-top: groove;

}
.boder2{
    border-top: groove;
}
.container {
    padding-left: 0;
    padding-right: 0;
}
.section-title{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section-title b {
    display: block;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.section-title-center span, .section-title-bold-center span{
    text-align: center;
}
.section-title-center span {
    margin: 0 15px;
}
.img_evt_1{
    width: 100%;
    height: auto;
}
.img_evt_2{
    width: 100%;
    height: auto;
}
.img_evt_3{
    width: 100%;
    height: auto;
}
.img_evt_4{
    width: 100%;
    height: auto;
}
.img_evt_5{
    width: 100%;
    height: auto;
}
.img_evt_6{
    width: 100%;
    height: auto;
}
.img_evt_7{
    width: 100%;
    height: auto;
}
.txt_evt {
    text-align: center;
    font-size: 80%;
}
.txt_evt_2 {
    text-align: center;
    color: #25cbd3;
}

/* CSS KHUNG CHỮ */
.badge.post-date {
    top: 7%;
}
.badge.top {
    left: 0;
}
.absolute {
    position: absolute !important;
}
.badge-outline, .badge-circle {
    margin-left: 1%;
}
.badge {
    display: table;
    z-index: 20;
    pointer-events: none;
    height: 2.8em;
    width: 2.8em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.badge:hover{
    background-color: black;
}
.badge-outline .badge-inner {
    background-color: #fff;
    border: 2px solid currentColor;
}
.badge-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #446084;
    line-height: .85;
    color: #fff;
    font-weight: bolder;
    padding: 2px;
    white-space: nowrap;
    transition: background-color .3s, color .3s, border .3s;
}
.badge-inner {
    font-family: 'Times New Roman', 'Arial', 'Helvetica', 'Courier New', 'Verdana', 'Georgia', 'Tahoma', 'Calibri', 'Garamond', 'Bookman'; 
    color: black;
}
.txt_evt_3{
    text-align: center;
}
.boder3{
    border-bottom: groove;
    border-color: #25cbd3;
}